main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  max-width: 1120px;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 50px;
}
.greeting {
  display: flex;
  color: #fff;
}
.greeting p {
  font-size: 56px;
}
.greeting p span {
  color: #febc2e;
}
.greeting h2 {
  font-weight: 500;
}
.underline {
  border-bottom: 3px solid #651ef4;
}
.desc {
  display: flex;
  align-items: center;
  grid-row-start: 2;
  margin-left: 50px;
}
.avatar {
  position: relative;
}
.avatar img {
  position: relative;
  height: 200px;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}
.avatar img:hover {
  transform: rotate(360deg);
}
.avatar-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  border: 10px solid #febc2e;
  border-radius: 50%;
}
.desc-content {
  padding: 0px 50px;
  font-size: 24px;
  color: #fff;
}
.btn-filled,
.btn-outline {
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.1s linear;
}
.btn-filled {
  width: max-content;
  padding: 10px 30px;
  margin-top: 25px;
  background-color: #651ef4;
}
.btn-filled:hover {
  background-color: #571ecc;
}
.btn-outline:hover {
  background-color: #571ecc;
}
.btn-outline {
  border: 2px solid #651ef4;
  padding: 5px 25px;
}
.callout {
  position: relative;
  background-color: #2a2c47;
  padding: 20px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 5px solid #febc2e;
}
.callout svg {
  position: absolute;
  font-size: 50px;
  color: #febc2e;
  background-color: #1c1e2b;
  padding: 10px;
  border-radius: 50%;
  top: -25px;
  left: -25px;
}
.callout-content {
  font-size: 24px;
  color: #fff;
}
.links {
  color: #fff;
}
.links h2 {
  font-weight: 500;
  margin-bottom: 20px;
}
.key-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 20px;
}
