.container {
  margin: 20px auto;
  max-width: 1280px;
}
.filter {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.filter p {
  font-size: 24px;
  margin-bottom: 20px;
}

.filter input {
  width: 100%;
  border: transparent;
  background: transparent;
  font-size: 24px;
  padding: 10px;
  border-bottom: 5px solid #651ef4;
  outline: transparent;
}
.filter input:focus {
  color: #fff;
}
.filter-tags {
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 3px solid #febc2e;
  padding: 20px;
  border-radius: 20px;
}
.filter-tags button:focus {
  background: #651ef4;
}
@media (max-width: 768px) {
  .filter p,
  .filter input {
    font-size: 20px;
  }
}
